<%- include header %>
  <section id="analyse-formular" class="container">
    <div class="hauptblock">
      <h1>Analysen</h1>
      <form role="form" onsubmit="return validiereForm('analyse')">
        <% if (message.length > 0) { %>
          <div class="alert">
            <%= message %>
          </div>
          <% } %>
            <div id="buchungsfehler" style="display:none" class="alert">
              <p>Fehler:</p>
              <span></span>
            </div>
            <div class="form-group">
              <div>
                <input type="number" class="form-control nodisplay" hidden name="A_ID" >
              </div>
            </div>
            <div class="form-group"id="stoff-wrapper">
              <label for="S_ID" class="control-label">Stoff</label>
              <div class="select-wrapper">
                <select id="stoff" class="form-control" name="S_ID" placeholder="Stoff" required>
                     <%- stoffOptions %>
                                       </select>
              </div>
            </div>
            <div class="form-group">
              <label for="A_ExterneID" class="control-label">Externe ID</label>
              <div>
                <input type="text" value="" class="form-control" id="externeid" name="A_ExterneID" placeholder="Externe ID" required>
                <p id="error-externeid" class="nodisplay alert"></p>
              </div>
            </div>
            <div class="form-group">
              <label for="A_Datum" class="control-label">Analysedatum</label>
              <div>
                <input type="date" id="datum-analyse" class="form-control" name="A_Datum" placeholder="Analysedatum" required>
              </div>
            </div>
            <div class="form-group">
              <label for="A_DatumGueltigAb" class="control-label">Gültigkeitsdatum</label>
              <div>
                <input type="date" id="datum-gueltig" class="form-control" name="A_DatumGueltigAb" placeholder="Gültigkeitsdatum" required>
                <p id="error-datum-gueltig" class="nodisplay alert"></p>
              </div>
            </div>
            <div class="form-group"id="analysetyp-wrapper">
              <label for="AT_ID" class="control-label">Analysetyp</label>
              <div class="select-wrapper">
                <select id="analysetyp" class="form-control" name="AT_ID" placeholder="Analysetyp" required>
                     <%- analysetypOptions %>
                                       </select>
              </div>
            </div>
            <div class="form-group">
              <label for="SA_A_Wert" class="control-label">Wert</label>
              <div>
                <input type="number" value="" class="form-control" id="wert" name="SA_A_Wert" placeholder="Wert" required>
                <p id="error-wert" class="nodisplay alert"></p>
              </div>
            </div>
            <div class="form-group">
              <div>
                <button id="btn-buchen" type="submit" class="btn" formaction="/daten/analysen" formmethod="post">Buchen</button>
              </div>
            </div>
            <div class="form-group">
              <div>
                <button id="btn-aendern" type="submit" class="btn nodisplay" formaction="/daten/analysen-put" formmethod="post">Ändern</button>
              </div>
            </div>
            <div class="form-group">
              <div>
                <button id="btn-abbrechen" type="submit" class="btn nodisplay" formaction="/daten/analysen" formmethod="get">Abbrechen</button>
              </div>
            </div>
      </form>
    </div>
  </section>
  <section id="analysen-tabelle" class="container">
    <div class="hauptblock buchungen">
      <h1>Buchungen</h1> Zum Ändern oder Löschen anklicken.
      <div class="table-wrap">
        <div class="table">
          <table id="analysen">
            <thead class="sticky">
              <tr class="th">
                <th class="t-id">
                  ID
                  <div>ID</div>
                </th>
                <th class="t-Stoffe">
                  Stoff
                  <div>Stoff</div>
                </th>
                <th class="t-externeid">
                  Externe ID
                  <div>Externe ID</div>
                </th>
                <th class="t-datum">
                  Datum
                  <div>Datum</div>
                </th>
                <th class="t-datum desktop desktop-tc">
                  Gültigkeitsdatum
                  <div>Gültigkeitsdatum</div>
                </th>
                <th class="t-aanalysetyp">
                  Analysetyp
                  <div id="analysetyp">Analysetyp</div>
                </th>
                <th class="t-wert desktop desktop-tc">
                  Wert
                  <div id="wert">Wert</div>
                </th>
              </tr>
            </thead>
            <tbody onclick="auswahlTabelle(event)">
              <%- buchungenAnalysen %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <script language="javascript" type="text/javascript" src="/scripts/analysen.js"></script>
  <script language="javascript" type="text/javascript" src="/scripts/formularcheck.js"></script>
  <%- include footer %>
