<%- include header %>
  <section id="bilanz-formular" class="container">
    <div class="hauptblock">
      <h1>Nährstoffbilanz</h1>
      <form role="form" onsubmit="return validiereForm('bilanz')">
        <% if (message.length > 0) { %>
          <div class="alert">
            <%= message %>
          </div>
          <% } %>
            <div id="buchungsfehler" style="display:none" class="alert">
              <p>Fehler:</p>
              <span></span>
            </div>
            <div class="form-group">
              <label for="Anfangsdatum" class="control-label">von</label>
              <div>
                <input type="date" id="datum-beginn" class="form-control" name="Anfangsdatum" placeholder="Anfangsdatum" required>
              </div>
            </div>
            <div class="form-group">
              <label for="Enddatum" class="control-label">bis</label>
              <div>
                <input type="date" id="datum-ende" class="form-control" name="Enddatum" placeholder="Enddatum" required>
                <p id="error-datum" class="nodisplay alert"></p>
              </div>
            </div>
            <div class="form-group">
              <div>
                <button id="btn-anzeigen" type="submit" class="btn" formaction="/auswertungen/bilanz" formmethod="post" >Anzeigen</button>
              </div>
            </div>
      </form>
    </div>
  </section>

  <% if (anfangsdatum.length > 0) { %>
  <section class="container" id="bilanz-tabelle">
    <div class="hauptblock ">
      <div id="zeitraum">Zeitraum vom <%= anfangsdatum %> bis <%= enddatum %></div>
      <div class="table-wrap">
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>
                  Nährstoff
                </th>
                <th class="t-menge">
                  Eingang
                </th>
                <th class="t-menge">
                  Ausgang
                </th>
                <th class="t-menge">
                  Differenz
                </th>
              </tr>
            </thead>
            <tbody >
              <%- nBilanz %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <% } %>
  <script language="javascript" type="text/javascript" src="/scripts/bilanz.js"></script>
  <script language="javascript" type="text/javascript" src="/scripts/formularcheck.js"></script>
  <%- include footer %>
