<%- include header %>
<div class="buchungen-wrapper inhalt">
  <div class="links">
    <section id="bilanz-formular" class="container formular">
      <form role="form" onsubmit="return validiereForm('bilanz')">
        <% if (message.length > 0) { %>
        <div class="alert">
          <%= message %>
        </div>
        <% } %>
        <div id="buchungsfehler" style="display:none" class="alert">
          <p>Fehler:</p>
          <span></span>
        </div>
        <h2>Auswertungszeitraum eingeben</h2>
        <div class="form-group">
          <label for="Anfangsdatum" class="control-label">von</label>
          <div>
            <input type="date" id="datum-beginn" class="form-control" name="Anfangsdatum" placeholder="Anfangsdatum" required>
                </div>
          </div>
          <div class="form-group">
            <label for="Enddatum" class="control-label">bis</label>
            <div>
              <input type="date" id="datum-ende" class="form-control" name="Enddatum" placeholder="Enddatum" required>
              <p id="error-datum" class="nodisplay alert"></p>
            </div>
          </div>
          <div class="form-group">
            <div>
              <button id="btn-anzeigen" type="submit" class="btn gruen btn-anzeigen" formaction="/auswertungen/bilanz" formmethod="post">Anzeigen</button>
            </div>
          </div>
          <div class="form-group">
            <div>
              <button id="btn-pdf" type="submit" class="btn gruen btn-pdf" formmethod="get" onclick="gotoPDF()" formmethod="post">Bilanz als PDF</button>
            </div>
          </div>
      </form>
    </section>

    <% if (anfangsdatum.length > 0) { %>
    <section class="container tabelle tabelle-auswertung" id="tabelle-bilanz">
      <div class="hauptblock ">
        <h2>Zeitraum vom <%= anfangsdatum %> bis <%= enddatum %></h2>
        <div class="table-wrap">
          <div class="table">
            <table id="table-bilanz">
              <thead>
                <tr>
                  <th>
                    Nährstoff
                  </th>
                  <th class="t-menge">
                    Zugang
                  </th>
                  <th class="t-menge">
                    Abgang
                  </th>
                  <th class="t-menge">
                    Differenz
                  </th>
                </tr>
              </thead>
              <tbody>
                <%- nBilanz %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <% } %>
  </div>
  <% if (anfangsdatum.length > 0) { %>
  <div class="rechts">
    <section class="container bd-bilanz" id="bd-bilanz">
      <svg class="bar-chart"></svg>
    </section>
    <script language="javascript" type="text/javascript" src="/scripts/d3/d3.min.js"></script>
    <script language="javascript" type="text/javascript" src="/scripts/formularcheck.js"></script>
    <div class="diagramm-beschriftung">
      <script language="javascript" type="text/javascript" src="/scripts/balkendiagramm.js"></script>
      <div class="legende">
        <div class="zugang farbe"></div><span class="zugang">Zugang</span>
        <div class="abgang farbe"></div><span class="abgang">Abgang</span>
      </div>
    </div>
  </div>
  <% } %>
</div>
<script language="javascript" type="text/javascript" src="/scripts/bilanz.js"></script>
<script language="javascript" type="text/javascript">
  window.onload = checkLieferschein();
</script>
<%- include footer %>